force-app/main/default/flows/Assign_Bank_Client_Access_to_Bank_Clients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_Permission_Set_Exist</name>
        <label>Check if Permission Set Exist</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bank_Client_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Bank_Client_Access_Perm_Set.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Permission_Set</targetReference>
            </connector>
            <label>Bank Client Permission Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profile</name>
        <label>Check Profile</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bank_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bank Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Bank_Client_Access_Perm_Set</targetReference>
            </connector>
            <label>Bank Client</label>
        </rules>
    </decisions>
    <interviewLabel>Assign Bank Client Access to Bank Clients {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Bank Client Access to Bank Clients</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_Permission_Set</name>
        <label>Assign Permission Set</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetGroupId</field>
            <value>
                <elementReference>Fetch_Bank_Client_Access_Perm_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Bank_Client_Access_Perm_Set</name>
        <label>Fetch Bank Client Access Perm Set</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Permission_Set_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BankClientPermissionSetGroup</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Profile</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
